.background { 
    margin-top: 150;
    height: 100vh; 
    background-image: url('../../public/images/Bew_foto.jpg');
    /* Pfad zum Hintergrundbild */ 
    background-size: calc(100% - 25%); 
    /* Skaliert das Bild, um den gesamten Container zu bedecken */ 
    background-position: center; /* Zentriert das Bild */ 
    background-repeat: no-repeat; /* Verhindert das wiederholte Anzeigen des Bildes */
    background-color: black;
}


   

    .row { display: flex; flex-direction: column; 
        /* Ordnet alle Elemente in einer Spalte an */ 
        align-items: right; /* Richtet die Elemente an der rechten Seite aus */ 
        margin: 10px; padding: 20px;  /* Optional: fügt einen halbtransparenten Hintergrund hinzu */ 
        border-radius: 8px; /* Optional: macht die Ecken abgerundet */ }
        .navbar{position: fixed;width:100%;}

        body { font-size: 16px; } @media (max-width: 600px) { body { font-size: 14px; } } .container { width: 80%; } @media (max-width: 600px) { .container { width: 100%; } }