.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.ticker-wrapper {
    overflow: hidden;
    white-space: nowrap;
}

.ticker {
    display: inline-block;
    animation: ticker 30s linear infinite;
}

.ticker-icon {
    width: auto; /* Größe der Icons anpassen */
    height: 30px; /* Größe der Icons anpassen */
    margin: 0 10px; /* Abstand zwischen den Icons */
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
