body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2f2f2f; /* Anthrazit */
  color: #f0c14b; /* Gold */
}

.navbar {
  background-color: #333333; /* Dunkler Anthrazit */
}

.nav-link {
  color: #f0c14b !important; /* Gold */
}

.container {
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 8px;
}

.text-gold {
  color: #f0c14b; /* Gold */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.alert-warning {
  background-color: #f0c14b; /* Gold */
  color: #2f2f2f; /* Anthrazit */
}


